In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules
import matplotlib.pyplot as plt

In [2]:

data = pd.read_csv('PF-GROWTH1.csv', header=None)
select_col = [ 2, 3, 4, 5, 6,7]
dataset = data[select_col]
column_names = ['product1', 'product2', 'product3', 'product4', 'product5', 'product6']
dataset.columns = column_names
dataset = dataset.drop(0, axis=0)
dataset

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,product1,product2,product3,product4,product5,product6
1,bottled water,dishes,coffee,margarine,bottled water,bottled water
2,yogurt,bottled water,coffee,dishes,bottled water,coffee
3,yogurt,bottled water,dishes,fruit,yogurt,coffee
4,bottled water,yogurt,bottled water,coffee,bottled water,fruit
5,bottled water,bottled water,dishes,coffee,yogurt,dishes
...,...,...,...,...,...,...
129,coffee,other vegetables,fruit,bottled water,dishes,root vegetables
130,dishes,citrus fruit,bottled water,coffee,NaN,herbs
131,bottled water,flour,dishes,coffee,margarine,bottled water
132,dishes,sugar,bottled water,fruit,dishes,sausage
133,bottled water,frozen meals,bottled water,dishes,fruit,coffee

In [3]:
transactions = []
for sublist in dataset.values.tolist():
    clean_sublist = [item for item in sublist if not pd.isnull(item)]
    transactions.append(clean_sublist)

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,fruit,beef,berries,bottled water,brown bread,butter,butter milk,canned beer,chicken,chocolate,...,red/blush wine,rolls/buns,root vegetables,sausage,specialty bar,sugar,tropical fruit,turkey,whole milk,yogurt
0,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,True,False,False,True,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
129,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
130,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
131,True,False,False,True,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False
132,True,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:

frequent_itemsets = fpgrowth(df, min_support=0.2, use_colnames=True)
frequent_itemsets

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     support                         itemsets
0   0.954887                  (bottled water)
1   0.654135                         (dishes)
2   0.556391                         (coffee)
3   0.556391                         (yogurt)
4   0.390977                         ( fruit)
5   0.203008                   (citrus fruit)
6   0.255639                     (whole milk)
7   0.203008               (other vegetables)
8   0.639098          (dishes, bottled water)
9   0.533835          (coffee, bottled water)
10  0.375940                 (dishes, coffee)
11  0.255639                 (yogurt, coffee)
12  0.375940  (coffee, dishes, bottled water)
13  0.240602  (coffee, yogurt, bottled water)
14  0.541353          (yogurt, bottled water)
15  0.353383                 (dishes, yogurt)
16  0.353383  (dishes, yogurt, bottled water)
17  0.383459          ( fruit, bottled water)
18  0.203008                 (yogurt,  fruit)
19  0.203008                 (dishes,  fruit)
20  0.203008  (yogurt,  fruit, bottled water)
21  0.203008  (dishes,  fruit, bottled water)
22  0.240602      (whole milk, bottled water)

In [20]:
# Generate association rules
#association_rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
#result = rules[['antecedents', 'consequents']]
rules

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(dishes),(bottled water),0.654135,0.954887,0.639098,0.977011,1.023170,0.014472,1.962406,0.065473
1,(bottled water),(dishes),0.954887,0.654135,0.639098,0.669291,1.023170,0.014472,1.045829,0.501961
2,(coffee),(bottled water),0.556391,0.954887,0.533835,0.959459,1.004788,0.002544,1.112782,0.010742
3,(bottled water),(coffee),0.954887,0.556391,0.533835,0.559055,1.004788,0.002544,1.006042,0.105634
4,(dishes),(coffee),0.654135,0.556391,0.375940,0.574713,1.032929,0.011985,1.043081,0.092174
5,(coffee),(dishes),0.556391,0.654135,0.375940,0.675676,1.032929,0.011985,1.066416,0.071864
6,"(dishes, coffee)",(bottled water),0.375940,0.954887,0.375940,1.000000,1.047244,0.016960,inf,0.072289
7,"(coffee, bottled water)",(dishes),0.533835,0.654135,0.375940,0.704225,1.076574,0.026740,1.169352,0.152581
8,"(dishes, bottled water)",(coffee),0.639098,0.556391,0.375940,0.588235,1.057234,0.020352,1.077336,0.150000
9,(coffee),"(dishes, bottled water)",0.556391,0.639098,0.375940,0.675676,1.057234,0.020352,1.112782,0.122034
10,(dishes),"(coffee, bottled water)",0.654135,0.533835,0.375940,0.574713,1.076574,0.026740,1.096119,0.205652
11,"(yogurt, coffee)",(bottled water),0.255639,0.954887,0.240602,0.941176,0.985642,-0.003505,0.766917,-0.019195
12,(yogurt),(bottled water),0.556391,0.954887,0.541353,0.972973,1.018940,0.010063,1.669173,0.041902
13,(bottled water),(yogurt),0.954887,0.556391,0.541353,0.566929,1.018940,0.010063,1.024334,0.412037
14,(dishes),(yogurt),0.654135,0.556391,0.353383,0.540230,0.970954,-0.010572,0.964850,-0.079608
15,(yogurt),(dishes),0.556391,0.654135,0.353383,0.635135,0.970954,-0.010572,0.947925,-0.063176
16,"(dishes, yogurt)",(bottled water),0.353383,0.954887,0.353383,1.000000,1.047244,0.015942,inf,0.069767
17,"(dishes, bottled water)",(yogurt),0.639098,0.556391,0.353383,0.552941,0.993800,-0.002205,0.992283,-0.016993
18,"(yogurt, bottled water)",(dishes),0.541353,0.654135,0.353383,0.652778,0.997925,-0.000735,0.996090,-0.004514
19,(dishes),"(yogurt, bottled water)",0.654135,0.541353,0.353383,0.540230,0.997925,-0.000735,0.997556,-0.005977
20,(yogurt),"(dishes, bottled water)",0.556391,0.639098,0.353383,0.635135,0.993800,-0.002205,0.989140,-0.013869
21,( fruit),(bottled water),0.390977,0.954887,0.383459,0.980769,1.027105,0.010119,2.345865,0.043331
22,( fruit),(yogurt),0.390977,0.556391,0.203008,0.519231,0.933212,-0.014529,0.922707,-0.105155
23,( fruit),(dishes),0.390977,0.654135,0.203008,0.519231,0.793767,-0.052745,0.719398,-0.299038
24,"(yogurt, fruit)",(bottled water),0.203008,0.954887,0.203008,1.000000,1.047244,0.009158,inf,0.056604
25,"( fruit, bottled water)",(yogurt),0.383459,0.556391,0.203008,0.529412,0.951510,-0.010345,0.942669,-0.076345
26,( fruit),"(yogurt, bottled water)",0.390977,0.541353,0.203008,0.519231,0.959135,-0.008649,0.953985,-0.065385
27,"(dishes, fruit)",(bottled water),0.203008,0.954887,0.203008,1.000000,1.047244,0.009158,inf,0.056604
28,"( fruit, bottled water)",(dishes),0.383459,0.654135,0.203008,0.529412,0.809331,-0.047826,0.734962,-0.276471
29,( fruit),"(dishes, bottled water)",0.390977,0.639098,0.203008,0.519231,0.812443,-0.046865,0.750677,-0.274867
30,(whole milk),(bottled water),0.255639,0.954887,0.240602,0.941176,0.985642,-0.003505,0.766917,-0.019195